<div class="container">
  <h1><%= @list.name %></h1>
  <ul class="list-group">
    <% @list.movies.each do |movie| %>
      <li class="list-group-item d-flex justify-content-between align-items-venter">
        <%= movie.title %>
        <span class="badge badge-primary badge-pill"><%= movie.rating %></span>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Back to all lists', lists_path %>
  <%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %>
</div>